{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

<div class="container-fluid">
    <div class="card card-sm search-card">
        {% if tasks|length == 0 %}
            <div class="alert alert-info mb-0 rounded-0 border-top-0 border-bottom-0 border-right-0 mb-0" role="alert">
                {{ __("No task uses this package", 'deploy') }}
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="search-results table table-hover table-card">
                    <thead>
                            <th>
                                {{ __("Task name", 'deploy') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    {% set task_icon = call("GlpiPlugin\\Deploy\\Task::getIcon") %}
                                    {% set task_active = (task.fields['is_active'] == "1") %}
                                    {% if not task_active %}
                                        {% set task_icon = "ti ti-moon text-muted" %}
                                    {% endif %}
                                    <i class="{{ task_icon }} me-2"></i>
                                    {{ task.getLink({
                                        'linkoption': task_active ? "" : "class='link-muted' title='" ~ __("Task is not active", 'deploy') ~ "' data-bs-toggle='tooltip'",
                                    })|raw }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
