<table>
	<thead>
		<tr>
			<th></th>
			<th>00:00</th>
			<th>01:00</th>
			<th>02:00</th>
			<th>21:00</th>
			<th>22:00</th>
			<th>23:00</th>
		</tr>
	</thead>
	<tbody>
		<tr class="checkbox-group">
			<td>Lundi</td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
		</tr>
		<tr class="checkbox-group">
			<td>Mardi</td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
				<td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></td>
		</tr>
	</tbody>
</table>

<script>
	$(document).ready(function () {
        $('.checkbox-group').each(function() {
            var checkboxes = $(this).find('.form-check-input');
            var firstChecked = null;

            checkboxes.on('change', function() {
                if (!this.checked) {
                    firstChecked = null;
                    return;
                }

                if (firstChecked == null) {
                    firstChecked = checkboxes.index(this);
                } else {
                    if (checkboxes.index(this) > firstChecked) {
                        checkboxes.slice(firstChecked, checkboxes.index(this)).prop('checked', true);
                    } else {
                        checkboxes.slice(checkboxes.index(this) + 1, firstChecked + 1).prop('checked', false);
                    }
                    firstChecked = null;
                }
            });
        });
    });
</script>
