{#
 # -------------------------------------------------------------------------
 # deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022 by the deploy plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

<div class="modal-dialog preview">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title-preview" id="modalTryItLabel">{{ call("Glpi\\RichText\\RichText::getEnhancedHtml", [entry['title']])|raw }}</h5>
        </div>
        <div class="d-flex modal-body">
            <div class="me-2">
                {{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getIconForLabel", [entry['icon'], 'fa-2x'])|raw }}
            </div>
            <div>
                {{ call("Glpi\\RichText\\RichText::getEnhancedHtml", [entry['text']])|raw }}
            </div>
        </div>
        <div class="modal-footer">
            {% if entry['interaction_type'] == 'ok' or entry['interaction_type'] == 'ok_sync' %}
                <button type="button"  class="btn">OK</button>
            {% elseif entry['interaction_type'] == 'okcancel' %}
                <button type="button" class="btn">OK</button>
                <button type="button" class="btn">Cancel</button>
            {% elseif entry['interaction_type'] == 'yesno' %}
                <button type="button" class="btn">Yes</button>
                <button type="button" class="btn">No</button>
            {% elseif entry['interaction_type'] == 'abortretryignore' %}
                <button type="button" class="btn">Abort</button>
                <button type="button" class="btn">Retry</button>
                <button type="button" class="btn">Ignore</button>
            {% elseif entry['interaction_type'] == 'retrycancel' %}
                <button type="button" class="btn">Retry</button>
                <button type="button" class="btn ">Cancel</button>
            {% elseif entry['interaction_type'] == 'canceltrycontinue' %}
                <button type="button" class="btn ">Cancel</button>
                <button type="button" class="btn">Try</button>
                <button type="button" class="btn">Continue</button>
            {% elseif entry['interaction_type'] == 'yesnocancel' %}
                <button type="button" class="btn">Yes</button>
                <button type="button" class="btn ">No</button>
                <button type="button" class="btn ">Cancel</button>
            {% endif %}
        </div>
    </div>
</div>
