{#
 # -------------------------------------------------------------------------
 # deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022 by the deploy plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% extends "@deploy/task/subitem.list.html.twig" %}

{% block subitem_form %}
    {% set add_pkg_btn %}
        <button class="btn btn-primary"
                type="submit"
                name="add_package">
            <i class="{{ pkg_icon }}"></i>
            <span>{{ __("Add package", 'deploy') }}</span>
        </button>
    {% endset %}

    {{ fields.dropdownField(
        'GlpiPlugin\\Deploy\\Package',
        'plugin_deploy_packages_id',
        0,
        '',
        {
            'full_width': true,
            'full_width_adapt_column': false,
            'is_horizontal': true,
            'label_class': '',
            'field_class': 'col-12',
            'mb': '',
            'add_field_html': add_pkg_btn,
            'condition': {
                'is_active': 1,
                'is_deleted': 0,
            },
            'width': '150px',
            'used': used,
        }
    ) }}
{% endblock %}
