{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% extends "@deploy/task/subitem.list.html.twig" %}

{% block subitem_form %}
    {% set add_pkg_btn %}
        <button class="btn btn-primary"
                type="submit"
                name="add_package">
            <i class="{{ pkg_icon }}"></i>
            <span>{{ __("Add package", 'deploy') }}</span>
        </button>
    {% endset %}

    {{ fields.dropdownField(
        'GlpiPlugin\\Deploy\\Package',
        'plugin_deploy_packages_id',
        0,
        '',
        {
            'full_width': true,
            'full_width_adapt_column': false,
            'is_horizontal': true,
            'label_class': '',
            'field_class': 'col-12',
            'mb': '',
            'add_field_html': add_pkg_btn,
            'condition': {
                'is_active': 1,
                'is_deleted': 0,
            },
            'width': '150px',
            'used': used,
        }
    ) }}
{% endblock %}
