{% import 'components/form/fields_macros.html.twig' as fields %}
{% extends "@deploy/task/subitem.list.html.twig" %}

{% block subitem_form %}
    {{ call(
        "Dropdown::showSelectItemFromItemtypes",
        [
            {
                'display': false,
                'itemtypes': call("GlpiPlugin\\Deploy\\Task_Target::getItemtypes"),
                'entity_restrict': task.fields['entities_id'],
                'ajax_page': '../ajax/dropdownTargets.php',
                'used': used,
                'disabled': true
            }
        ]
    )|raw }}

    <button class="btn btn-primary"
            type="submit"
            name="add_target"
            {{ task_active == 1 ? "disabled" : "" }}>
        <i class="{{ call("GlpiPlugin\\Deploy\\Task_Target::getIcon") }}"></i>
        <span>{{ __("Add a new target", 'deploy') }}</span>
    </button>
{% endblock %}
