{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2023 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/Deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% extends "@deploy/task/subitem.list.html.twig" %}

{% block subitem_form %}
    {{ call(
        "Dropdown::showSelectItemFromItemtypes",
        [
            {
                'display': false,
                'itemtypes': call("GlpiPlugin\\Deploy\\Task_Target::getItemtypes"),
                'entity_restrict': task.fields['entities_id'],
                'ajax_page': '../ajax/dropdownTargets.php',
                'used': used,
                'disabled': true
            }
        ]
    )|raw }}

    <button class="btn btn-primary"
            type="submit"
            name="add_target"
            {{ task_active == 1 ? "disabled" : "" }}>
        <i class="{{ call("GlpiPlugin\\Deploy\\Task_Target::getIcon") }}"></i>
        <span>{{ __("Add a new target", 'deploy') }}</span>
    </button>
{% endblock %}
